<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NfeStatusServico2Soap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="NfeConsulta2Soap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="ConsultaCadastroNFe">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
       </customBinding>
     </bindings>
    <client>
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx"
            binding="customBinding" bindingConfiguration="NfeStatusServico2Soap"
            contract="NfeStatusServico2Soap" name="NfeStatusServico2Soap" />
      <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx"
           binding="customBinding" bindingConfiguration="NfeConsulta2Soap"
           contract="ConsultaNFeService.NfeConsulta2Soap" name="NfeConsulta2Soap" />
      <endpoint address="https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx"
               binding="basicHttpBinding" bindingConfiguration="ConsultaCadastroNFe"
               contract="ConsultaCadastroNFe.CadConsultaCadastro2Soap" name="ConsultaCadastroNFe" />
    </client>
  </system.serviceModel>
</configuration>