<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="NfeStatusServico2Soap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
        <binding name="NFeConsultaDestSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport authenticationScheme="Digest" requireClientCertificate="true" />
        </binding>
       </customBinding>
     </bindings>
    <client>
      <endpoint address="https://nfe-homologacao.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx"
            binding="customBinding" bindingConfiguration="NfeStatusServico2Soap"
            contract="NfeStatusServico2Soap" name="NfeStatusServico2Soap" />
      
      <endpoint address="https://www.nfe.fazenda.gov.br/NFeConsultaDest/NFeConsultaDest.asmx"
              binding="customBinding" bindingConfiguration="NFeConsultaDestSoap"
              contract="Repositories.NFeConsultaDestSoap" name="NFeConsultaDestSoap" />
    </client>
  </system.serviceModel>
</configuration>