<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NfeStatusServico2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="NfeStatusServico2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://nfe.sefazrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeStatusServico2Soap"
                contract="StatusServico.NfeStatusServico2Soap" name="NfeStatusServico2Soap" />
        </client>
    </system.serviceModel>
</configuration>