<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NfeConsulta2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="NfeConsulta2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfeConsulta2Soap"
                contract="ConsultaNFeService.NfeConsulta2Soap" name="NfeConsulta2Soap" />
        </client>
    </system.serviceModel>
</configuration>